.login__logo {
  width: 175px;
  height: 51px;
  margin-bottom: 12px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.success_msg {
  margin-bottom: 40px;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
